@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.scroll-smooth{
    scroll-behavior: smooth
}
*{
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}